#grid{
display: grid;
grid-template-columns: 150px 1fr;
}
#grid ol{
padding-left:33px;
}
#grid #text{
padding-left:25px;
}
  a{
   color: gray;
   text-decoration: none;
  }

  h1 {
    color: gray;
    text-decoration: none;
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid gray;
    margin: 0;
    padding: 20px;
  }
  h2{
    color: OliveDrab;
  }
  ol{
    border-right:2px solid gray;
    width:100px;
    margin:0;
    padding:20px;
  }
  table, td, th{
    border: 1px solid gray;
  }
